Options -Indexes
RewriteEngine On
RewriteBase /CryptoSell/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^wallet/(.*)$ index.php?act=wallet&wid=$1
RewriteRule ^iframe/(.*)$ index.php?act=iframe&wid=$1
RewriteRule ^logout index.php?act=logout
RewriteRule ^login index.php?act=login
RewriteRule ^error 500.php
RewriteRule ^lock include/php/lockscreen.php
RewriteRule ^api include/php/api.php
RewriteRule ^pay include/php/pay.php
RewriteRule ^cgi include/php/cgi.php
RewriteRule ^cron include/php/crontransactions.php
RewriteRule ^verify/(.*)$ include/php/verifypayment.php?txid=$1